.weather header,
.weather .message,
.weather footer {
    margin: 0 auto;
    text-align: justify;
}

.weather header {
    font-weight: bold;
    margin-bottom: 0.4em;
}

.weather .message {
    position: relative;
}

.weather footer {
    font-size: 0.8em;
}